  
body{
 background-image: url(IMG_20220714_165446.jpg);
 height : 100%;
 background-repeat : no-repeat ;
  background-position: center;
  background-size: cover;

}

.container{
  width:300px;
  height:450px;
  margin:7% auto;
  border-radius:25px;
  background-color:rgba(0,0,0,0.1);
  box-shadow: 0 0 17px #fff;

}

.header {
 text-align: center;
 padding-top: 75px;

}

.header h1{
 color: #fff;
 font-size: 45px;
 margin-bottom : 80px;
}

input[type="text"],input[type="password"]
{   color:#fff;
    background: transparent;
    border: none;
}

button{
    
    background-color: transparent; 
    border: none;
    border-radius: 12px;
    height: 45px; 

    width: 70px; 

    color: #fff; 

   font-size: 30px; 

   box-shadow:rgba(0, 0, 0, 0.1)
}


::placeholder { 
  color: #fff;
  opacity: 1; 
}

:-ms-input-placeholder { 
  color: #fff;
}

::-ms-input-placeholder {
  color: #fff;
}





