h2 { color: grey;}
body {
  
  background-image: url("https://github.com/lawintun/thirikyawclass/blob/main/IMG_20220714_165446.jpg");

  
  height: 100%;


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  height: 200px;
  position: relative;
  border: 3px solid white;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}




