h2 { color: grey;}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

body { 

background-image: url("IMG_20220714_165446.jpg");

}



